select {
  outline: 0;
  background-image: none;
  border: 2px solid black;
  width: 198px;
  font-weight: 600;
}

.selector {
  position: relative;
  left: 104px;
  top: -110.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
